@import 'tailwindcss';
@plugin '../app/hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

:root {
  --primary-gray: #324054;
  --primary-blue: #2d68fe;
  --secondary-gray: #71839b;
  --white: #ffffff;
  --hover-gray: #f1f5f9;
  --selected-blue: #eff6ff;
}

@theme {
  --font-display: 'Outfit', sans-serif;
  --font-size-tiny: 0.75rem;
  --font-size-small: 1rem;
  --font-size-medium: 1.125rem;
  --font-size-large: 1.15rem;
}
